<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}About{% endblock %}


{% block body_block %}
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Takis says...</h1>
        hello world! <strong>{{ boldmessage }}</strong><br />
        <img src="{% static "images/takis.jpg" %}" alt="Picture of Christos Nicolaides" /> 
		<br/>This tutorial was created by Christos Nicolaides<br/>
    </body>
        <a href="/rango/">Index</a>
{% endblock %}