<!DOCTYPE html>
<html>
{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}{{ profile }}{% endblock %}

{% block body_block %}
	<div class="page-header">
                <h1>{{ user.username }}</h1>
            </div>
            <div>
            <p></strong>Email address: {{ user.email }}</p>

	{% if userprofile %}
	    {% if userprofile.website %}
		<p>Website: <a href="{{ userprofile.website }}">{{ userprofile.website }}</a></p>
	    {% endif %}
	    {% if userprofile.picture %}
	    	<img src="{{ userprofile.picture.url }}" />
	    {% endif %}
	{% endif %}

	<a href="{% url 'add_profile' %}">Edit Profile</a>

{% endblock %}